html
  head
    base(href='/')
    title Angular 2 QuickStart
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='styles.css')
    script(src='node_modules/core-js/client/shim.min.js')
    script(src='node_modules/zone.js/dist/zone.js')
    script(src='node_modules/reflect-metadata/Reflect.js')
    script(src='node_modules/systemjs/dist/system.src.js')
    script(src='systemjs.config.js')
    script.
      System.import('app').catch(function(err){ console.error(err); });
  body
    my-app Loading... 
