div(*ngIf='hero')
  h2 {{hero.name}} details!
  div
    label id: {{hero.id}}
  div
    label name:
    input([(ngModel)]='hero.name', placeholder='name')
  button((click)='goBack()') Back
  button((click)='save()') Save
  
