h2 My Heroes
ul.heroes
  li(*ngFor='let hero of heroes', [class.selected]='hero === selectedHero', (click)='onSelect(hero)')
    span.badge.
      {{hero.id}}
    | {{hero.name}}
div(*ngIf='selectedHero')
  h2  {{selectedHero.name | uppercase}} is my hero
  button((click)='gotoDetail()') View Details
div.error(*ngIf="error").
  {{error}}
button((click)="addHero()") Add New Hero
  div(*ngIf="addingHero")
    my-hero-detail((close)="close($event)")
button.delete-button((click)="deleteHero(hero, $event)") Delete
